
<div class="container">
  <h1 class="text-center"><%= @item.title %></h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 text-center">
      <%= image_tag "zero.jpg", class: 'img-fluid'%>
       <p style="color: #2B3E50;"> Message caché...</p>
    </div>
      <div class="col-sm-12 col-md-6 col-lg-6">

        <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"><strong>Description : </strong><br/><%= @item.description %></p>
          <p class="card-text"><strong>Prix : </strong><%= @item.price %> €</p>
          <div class="d-flex justify-content-end">
            <% if current_user != nil %>
             <% if current_user.id == @item.user_id %>
             <%= link_to 'Modifier', edit_item_path(@item), class: "btn btn-secondary", id: "btn-action" %>
             <%= link_to 'Supprimer', @item, method: :delete, data: { confirm: "êtes-vous sûr?" }, class: "btn btn-danger", id: "btn-action" %>
            <% end %>
            <% end %>
            <%= button_to "Ajouter au panier", cart_items_path(item_id: @item), class: "btn btn-info" %>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
